<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('applications_index') }}">{{ 'titles.applications'|trans }}</a></li>
                <li><a href="{{ path('towns_index') }}">{{ 'titles.towns'|trans }}</a></li>
                <li><a href="{{ path('countries_index') }}">{{ 'titles.countries'|trans }}</a></li>
                <li><a href="{{ path('executors_index') }}">{{ 'titles.executors'|trans }}</a></li>
                <li><a href="{{ path('executor_phones_index') }}">{{ 'titles.executorsPhones'|trans }}</a></li>
                <li><a href="{{ path('drivers_index') }}">{{ 'titles.drivers'|trans }}</a></li>
                <li><a href="{{ path('driver_phones_index') }}">{{ 'titles.driversPhones'|trans }}</a></li>
                <li><a href="{{ path('cars_index') }}">{{ 'titles.cars'|trans }}</a></li>
                <li><a href="{{ path('semitrailer_types_index') }}">{{ 'titles.semitrailerType'|trans }}</a></li>
                <li><a href="{{ path('users_index') }}">{{ 'titles.users'|trans }}</a></li>
                {#<li><a href="{{ path('orders_index') }}">Orders</a></li>#}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>