{% extends 'AppBundle::datepicker.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-info">{{ 'labels.save'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}