{% extends '::base.html.twig' %}

{% block title %}Applications{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'titles.applications'|trans }}
            <a href="{{ path('application_new') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </h1>
        {# total items count #}
        <div class="count">
            {{ 'phrases.totalCount'|trans }}: {{ pagination.getTotalItemCount }}
        </div>
        <table class="table">
            <thead>
            <tr>
                {# sorting of properties based on query components #}
                <th>{{ knp_pagination_sortable(pagination, 'tableHeader.Number'|trans, 'application.applicationNumber') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'tableHeader.Date'|trans, 'application.applicationDate') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'tableHeader.From'|trans, 'application.from') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'tableHeader.To'|trans, 'application.to') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'tableHeader.Cost'|trans, 'application.cost') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {# table body #}
            {% for application in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ application.applicationNumber }}</td>
                    <td>{{ application.applicationDate|date('d/m/Y') }}</td>
                    <td>{{ application.from }}</td>
                    <td>{{ application.to }}</td>
                    <td>{{ application.cost }}</td>
                    <td>
                        <a href="{{ path('application_edit', { id: application.id }) }}" class="btn btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="{{ path('application_view', { id: application.id }) }}" class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation" align="center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}