{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>
                Application #{{ application.applicationNumber }} by {{ application.applicationDate|date('d/m/Y') }}
        </h3>
        <table class="table table-striped">
            <tr>
                <td rowspan="2">Executor</td>
                <td colspan="2">Name: {{ application.executor.name }}</td>
            </tr>
            <tr>
                <td colspan="2">Phones:
                    {% for phone in application.executor.phones %}
                        <span>{{ phone.phone }} </span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>From</td>
                <td colspan="2">{{ application.from.name }} ({{ application.from.country.name }})</td>
            </tr>
            <tr>
                <td>To</td>
                <td colspan="2">{{ application.to.name }} ({{ application.to.country.name }})</td>
            </tr>
            <tr>
                <td rowspan="{{ application.cars|length }}">Cars and drivers</td>
                <td>Cars</td>
                <td>
                    {% for car in application.cars %}
                        <p>{{ car.model }} ({{ car.numberCar }}), {{ car.typeSemitrailer }} ({{ car.numberSemitrailer }})</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Drivers</td>
                <td>
                    {% for driver in application.drivers %}
                        <p>
                            {{ driver.fullName }}, {{ 'words.passport'|trans }} {{ driver.passport }}
                            {{ 'words.issued'|trans }} {{ driver.address }} {{ driver.date|date("d/m/Y") }}
                        </p>
                        <p>
                            ({{ 'words.phones'|trans }}:
                            {% for phone in driver.phones %}
                                <span>{{ phone.phone }}</span>
                            {% endfor %}
                            )
                        </p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td rowspan="3">Load</td>
                <td>Load date</td>
                <td>{{ application.dateLoad|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <td>Load address</td>
                <td>{{ application.addressLoad }}</td>
            </tr>
            <tr>
                <td>Load custom clearance docs</td>
                <td>{{ application.customClearanceDocsLoad }}</td>
            </tr>
            <tr>
                <td rowspan="3">Unload</td>
                <td>Unload date</td>
                <td>{{ application.dateUnload|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <td>Unload address</td>
                <td>{{ application.addressUnload }}</td>
            </tr>
            <tr>
                <td>Unload custom clearance docs</td>
                <td>{{ application.customClearanceDocsUnload }}</td>
            </tr>
            <tr>
                <td rowspan="4">Payload</td>
                <td>Freight rate</td>
                <td>{{ application.cost }}</td>
            </tr>
            <tr>
                <td>Payment date</td>
                <td>{{ application.paymentDate|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <td>Due date</td>
                <td>{{ application.dueDate }}</td>
            </tr>
            <tr>
                <td>Note</td>
                <td>{{ application.note }}</td>
            </tr>
        </table>
    </div>
{% endblock %}