{% extends '::base.html.twig' %}

{% block title %}Drivers{% endblock %}

{% block body %}
    <div class="container">
        <h1>Drivers
            <a href="{{ path('driver_new') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </h1>

        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Full name', 'driver.fullName') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Passport', 'driver.passport') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Date of issue', 'driver.date') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Address', 'driver.address') }}</th>
                <th>Phones</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for driver in pagination %}
            <tr>
                <td>{{ driver.fullName }}</td>
                <td>{{ driver.passport }}</td>
                <td>{{ driver.date|date('d/m/Y') }}</td>
                <td>{{ driver.address }}</td>
                <td>
                    {% for phone in driver.phones %}
                        <p>
                            {{ phone.phone }}
                        </p>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('driver_edit', { id: driver.id }) }}" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {# display navigation #}
        <div class="navigation" align="center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.asc').prepend('<span class="glyphicon glyphicon-sort-by-alphabet"></span>');
        $('.desc').prepend('<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>');
    </script>
{% endblock %}