{% extends '::base.html.twig' %}

{% block title %}SemitrailerTypes{% endblock %}

{% block body %}
    <div class="container">
        <h1>SemitrailerTypes
            <a href="{{ path('semitrailer_type_new') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </h1>

        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Model', 'semitrailerType.type') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for semitrailerType in pagination %}
            <tr>
                <td>{{ semitrailerType.type }}</td>
                <td>
                    <a href="{{ path('semitrailer_type_edit', { id: semitrailerType.id }) }}" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {# display navigation #}
        <div class="navigation" align="center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.asc').prepend('<span class="glyphicon glyphicon-sort-by-alphabet"></span>');
        $('.desc').prepend('<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>');
    </script>
{% endblock %}