{% extends '::base.html.twig' %}

{% block title %}Countries{% endblock %}

{% block body %}
    <div class="container">
        <h1>Countries</h1>
        {# total items count #}
        <div class="count">
            Total count: {{ pagination.getTotalItemCount }}
        </div>
        <table class="table">
            <thead>
            <tr>
                {# sorting of properties based on query components #}
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'country.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Chars', 'country.chars') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Code', 'country.code') }}</th>
            </tr>
            </thead>
            <tbody>
            {# table body #}
            {% for country in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ country.name }}</td>
                    <td>{{ country.chars }}</td>
                    <td>{{ country.code }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation" align="center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}