{% extends '::base.html.twig' %}

{% block title %}Cars{% endblock %}

{% block body %}
    <div class="container">
        <h1>Cars
            <a href="{{ path('car_new') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </h1>

        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Model', 'car.model') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Number Car', 'car.numberCar') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Number Semitrailer', 'car.numberSemitrailer') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Type Semitrailer', 'car.typeSemitrailer') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for car in pagination %}
            <tr>
                <td>{{ car.model }}</td>
                <td>{{ car.numberCar }}</td>
                <td>{{ car.numberSemitrailer }}</td>
                <td>{{ car.typeSemitrailer }}</td>
                <td>
                    <a href="{{ path('car_edit', { id: car.id }) }}" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {# display navigation #}
        <div class="navigation" align="center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.asc').prepend('<span class="glyphicon glyphicon-sort-by-alphabet"></span>');
        $('.desc').prepend('<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>');
    </script>
{% endblock %}