{% extends '::base.html.twig' %}

{% block title %}DriverPhones{% endblock %}

{% block body %}
    <div class="container">
        <h1>DriverPhones
            <a href="{{ path('driver_phone_new') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </h1>

        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Phone', 'driver_phone.phone') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Driver', 'driver_phone.driver') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for driver_phone in pagination %}
            <tr>
                <td>{{ driver_phone.phone }}</td>
                <td>{{ driver_phone.driver }}</td>
                <td>
                    <a href="{{ path('driver_phone_edit', { id: driver_phone.id }) }}" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {# display navigation #}
        <div class="navigation" align="center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.asc').prepend('<span class="glyphicon glyphicon-sort-by-alphabet"></span>');
        $('.desc').prepend('<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>');
    </script>
{% endblock %}