{% extends '::base.html.twig' %}

{% block title %}Executors{% endblock %}

{% block body %}
    <div class="container">
        <h1>Executors
            <a href="{{ path('executor_new') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </h1>

        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'executor.name') }}</th>
                <th>Phones</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for executor in pagination %}
            <tr>
                <td>{{ executor.name }}</td>
                <td>
                    {% for phone in executor.phones %}
                    <p>
                        {{ phone.phone }}
                    </p>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('executor_edit', { id: executor.id }) }}" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {# display navigation #}
        <div class="navigation" align="center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.asc').prepend('<span class="glyphicon glyphicon-sort-by-alphabet"></span>');
        $('.desc').prepend('<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>');
    </script>
{% endblock %}